.table{
    width: 70%;
    margin: 50px auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px;
}
body{
    background-color: aliceblue;
}
table{
    width: 100%;
    margin-top: 30px;
}
.table table thead th{
    background-color: green;
    color: white;
    font-family: sans-serif;
}
.table table tbody td{
    text-align: center;
    vertical-align: center;
    font-family: sans-serif;
}
.actions{
    display: flex;
}
.actions button{
    margin: 0 3px;
}
#icon{
    text-decoration: none;
}